<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chinese_Word_Analyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chinese_Word_Analyzer.Properties.Settings>
            <setting name="LanguageResourceKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchBoxKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchBoxType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExportDataViewBoxSeparateRowsBy" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportDataViewBoxSeparateColumnsBy" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportDataViewBoxWithHeader" serializeAs="String">
                <value>False</value>
            </setting>
        </Chinese_Word_Analyzer.Properties.Settings>
    </userSettings>
</configuration>